.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}

.righticon {
    float: right;
    width: 12%;
}

.paragraph {
    text-indent:2em;
}

.signature {
    float: right;
    width: 20%;
    text-align: center;
    line-height: 100px;
}

a {
    text-decoration: none;
}
