.left {
    float: left;
    width: 49%;
}

.right {
    float: right;
    width: 49%;
}

.righticon {
    float: right;
    width: 12%;
}

.rightwish {
    float: right;
    width: 18%;
}

.all {
    position: relative;
    text-align: center;
    font: x-large sans-serif;
}

#clickAll {
    font: 300% 华文细黑;
}

#followerAll {
    font: 300% 华文细黑;
}

.divider {
    position: absolute;
    width: 1px;
    height: 450px;
    background: darkgray;
    margin-left: 49%;
}

#headerbar {
    max-width: none;
    background: rgba(0, 0, 0, .8);
    padding: 0.8em;
}

.header-text {
    color: #d6d6d6;
    font: 16px sans-serif;
    text-align: left;
}

.header-text:hover,
.header-text:focus {
    color: #1d4b8f;
}

.back {
    color: #d6d6d6;
    float: right;
    font-family: sans-serif;
    text-align: left;
}

.back:hover,
.back:focus {
    color: #1d4b8f;
}

.indent {
    text-indent: 2em;
}

.uploadtime {
    float: right;
    width: 20%;
    color: gray;
}

.bottom {
    color: #d6d6d6;
}

.bottom:hover,
.bottom:focus {
    color: #1d4b8f;
}

.signature {
    float: right;
    width: 20%;
    text-align: center;
    line-height: 100px;
}

a {
    text-decoration: none;
}

.sect1::after {
    content: "";
    display: table;
    clear: both;
}

.media_on {
    display: block;
}

/* 移动端样式 */
@media (max-width: 768px) {
    .left, .right {
        width: 100%;
    }

    .media_on {
        visibility: hidden;
        display: none;
    }
    
    #clickAll {
        font: 200% 华文细黑;
    }
    
    #followerAll {
        font: 200% 华文细黑;
    }
    
}